---
layout: default

header-links:
 - link: nav 1
 - link: nav 2
 - link: nav 3
 - link: nav 4
 - link: nav 5
 - link: nav 6

image-col:
  - image_url: images/minimal-2.jpg
    heading: Duis Aute
    description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi quasi, 
  - image_url: images/minimal-3.jpg
    heading: Duis Aute
    description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi quasi, 
  - image_url: images/minimal-4.jpg
    heading: Duis Aute
    description: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi quasi, 

brand:
  - name: Brand Name
  - name: Brand Name
  - name: Brand Name
  - name: Brand Name
  - name: Brand Name
  - name: Brand Name  

image-gallery:
  - image_url: images/minimal-6.jpg
  - image_url: images/minimal-7.jpg
  - image_url: images/minimal-8.jpg
  - image_url: images/minimal-9.jpg
  - image_url: images/minimal-10.jpg
  - image_url: images/minimal-11.jpg

footer-links1:
  - link: LINK 1
  - link: LINK 2
  - link: LINK 3
  - link: LINK 4

footer-links2:
  - link: LINK 1
  - link: LINK 2
  - link: LINK 3
  - link: LINK 4

footer-links3:
  - link: LINK 1
  - link: LINK 2
  - link: LINK 3
  - link: LINK 4
  
---
<header class="relative flex items-center justify-between flex-col min-h-screen text-white border-b border-feature">
    <div class="md:flex justify-between items-center w-full hidden px-8 border-b border-feature">
        {% for item in page.header-links limit:3 %}
        <nav>
            <a>{{item.link}}</a>
        </nav>
        {% endfor %}
        <a href="/Gemfile" class="text-[1.2rem]">Logo</a>
        {% for item in page.header-links offset:3 %}
        <nav>
            <a>{{item.link}}</a>
        </nav>
        {% endfor %}
    </div>
    <div class="">
        <div class="md:hidden block relative">
            <div class="burger-button ">
                <span class="burger-top"></span>
                <span class="burger-middle"></span>
                <span class="burger-bottom"></span>
            </div>
            <div class="burger-menu">
                <a href="/" class="logo text-[1.2rem] text-white hover:text-feature mt-10 border-white hover:border-feature">
                    Logo
                    <span class="border-b mt-2 w-10 mx-auto flex"></span>    
                </a>     
                <nav class="">
                    {% for item in page.header-links %}
                    <a href="/{{nav-items.page | slugify}}" class="pl-[1rem]">{{item.link}}</a>
                    {% endfor %}                    
                </nav>

            </div>        
        </div>

    </div>
    <div class="grow flex items-center justify-center">
        <!-- grow fill up space flex move around -->
    <img src="images/minimal-1.jpg" class="h-full w-full top-0  object-cover absolute -z-10">
    <div class="text-center  self-center">
        <span class="border-b border-white inline-block w-40"></span>
        <h1 class="block">This is a heading</h1>
        <h2 class="block xxs:text-lg text-[4.2vw]">This is a subheading</h2>
    </div>
    </div>
    <!-- <div></div> -->
</header>

<!-- block images -->
<section >
    <div class="max-w-screen-xl mx-auto pb-16 pt-24 xxs:px-16 px-[10%]" >
        <h2 class="">Our Services</h2>
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-5 text-center">
            {% for item in page.image-col %}
            <div class="pb-10">
                <div class="aspect-square fancy-img-parent border  ">  
                    <img src="{{item.image_url}}" class="">
                </div>                    
                <h3  class="border-b py-4">{{item.heading}}</h3>
                <p class="pt-4">{{item.description}}</p>      
                
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- BG IMAGE BLOCK -->
<section>
    <div class="grid grid-cols-[90%,10%] xxs:grid-cols-[1fr,350px,2fr] bg-cover bg-no-repeat border-t border-r border-l" style="background-image: url('images/minimal-5.jpg');">
        <div class="hidden xxs:block"></div>
        <div class="w-[100%] xxs:w-[350px] min-h-[70vh] flex flex-col justify-center bg-[#EAE6DE] py-20 p-6 border-l border-r">
            <h2 class="">who we are</h2>
            <p class="mb-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat non quos aperiam corporis pariatur exercitationem nulla vero. Nostrum assumenda esse magni deserunt quam maxime autem doloribus, eveniet libero eius mollitia.</p>
            <div>
                <a href="" class=" button">find out more</a>
            </div>            
        </div>
        <div></div>
    </div>
</section>

<!-- brand scroll -->
<section>
    <div >
        <div class="marquee enable-animation marquee--hover-pause">
            <div class="marquee__content " >
                <div class="flex gap-[1px] p-[1px] xl:grid xl:grid-cols-6 xl:w-full text-center bg-black ">
                    {% for item in page.brand %}
                    <div class="bg-[#EAE6DE] grow">
                        <span class="py-2 px-8 block">{{item.name}}</span>
                    </div>        
                    {% endfor %}
                </div>
            </div>
            <div class="xl:hidden marquee__content " aria-hidden="true">
                <div class="flex gap-[1px] p-[1px] text-center bg-black ">
                    {% for item in page.brand %}
                    <div class="bg-[#EAE6DE] grow">
                        <span class="py-2 px-8 block">{{item.name}}</span>
                    </div>        
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section><!-- 
<section>
    <div class="grid grid-cols-6   text-center bg-black gap-[1px] p-[-1px]">
        <div class="text-scroll col-span-6">
            <div class="marquee enable-animation marquee--hover-pause">
                <div class="marquee__content ">
                    {% for item in page.brand %}
                    <div class="bg-[#EAE6DE]">
                        <span class="py-[0.5rem] px-[1.5rem]">{{item.name}}</span>
                    </div>
                    {% endfor %}
                </div>
                <div class="marquee__content" aria-hidden="true">
                    {% for item in page.brand %}
                    <div class="bg-[#EAE6DE]">
                        <span class="py-[0.5rem] px-[1.5rem]">{{item.name}}</span>
                    </div>
                    {% endfor %}
                </div> 
            </div>    
        </div>    
    </div>
</section> -->
<!-- IMAGE GALLERY  -->
<section>
    <div class="max-w-screen-xl mx-auto p-[10%] xs:px-10 py-28">
        <div class="text-center mb-10">
            <h2 class="">Duis aute irure</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima explicabo id ea a dolor ut, alias unde impedit sunt assumenda iure perferendis facilis. Atque quis odit reprehenderit similique magnam qui!</p>
        </div>        
        <div class="grid grid-cols-2 sm:grid-cols-3 gap-4"> 
            {% for item in page.image-gallery %}           
            <div class="aspect-square fancy-img-parent border">
                <img src="{{item.image_url}}" class="">
                <h3>{{item.heading}}</h3>
                <p>{{item.description}}</p>
            </div> 
            {% endfor %}            
        </div>        
        <div class="text-center flex justify-center mt-10">
            <a href="" class="button">Sign up</a>
        </div>
    </div>
</section>

<!-- CONTACT FORM -->
<section class="">
    <div class="grid grid-cols-[10%,90%] xs:grid-cols-7 border">
        <div class="col-span-1 xs:col-span-3 bg-center bg-cover bg-no-repeat border-r " style="background-image: url('images/minimal-12.jpg');">
            </div>    
        <div class="col-span-1 xs:col-span-4 justify-between sm:p-20 p-10">
            <h2 class="mb-8"> contact us</h2>
            <form class="contact ">
                <input name="name" type="text" id="name" placeholder="name" class="border-b mb-8">
                <input name="email" type="email" id="email" placeholder="email" class="border-b mb-8">
                <label for="message" class="border-none">message</label>
                <textarea for="message" type="text" id="message" class="" rows="5"></textarea>
                <div class="text-right mt-4">
                    <button class="button" type="submit" value="SEND">SEND</button>    
                </div>
            </form>

        </div>
    </div>

</section>

<!-- 
<footer>
    <div class="max-w-screen-xl mx-auto p-10 grid grid-cols-5 md:flex justify-between"> 
        
        <div class="pl-1">
            <h4>Lorem ipsum</h4>            
            <nav>
            {% for item in page.footer-links1  %}
                <a href="">{{item.link}}</a>
            {% endfor %}
            </nav>
        </div>
        <div class="pl-1">
            <h4>Lorem ipsum</h4>            
            <nav>
            {% for item in page.footer-links2  %}
                <a href="">{{item.link}}</a>
            {% endfor %}
            </nav>
        </div>
        <div class="pl-1">
            <h4>Lorem ipsum</h4>            
            <nav>
            {% for item in page.footer-links3  %}
                <a href="">{{item.link}}</a>
            {% endfor %}
            </nav>
        </div>
        <form class="col-span-2 text-right">
            <h4>
                <label class="pl-0 border-none" for="subscribe">Subscribe to our newsletter</label>                    
            </h4>

            <input id="subscribe" name="subscribe" type="text" class=" border border-black">
            <div class="text-right mt-4">
                <button type="submit" value="SUBSCRIBE" class="button">Subscribe</button>                    
            </div>

        </form>
        

    </div>
</footer> -->